.card {
	max-width: 58em;
	background-color: hsl(0, 0%, 100%);
	padding: 1em 1.7em;
	color: hsl(219, 12%, 42%);
	border-radius: 1em;
	box-shadow: 0px 5px 15px rgb(64 64 64 / 13%);

	@media (min-width: 800px) {
		& {
			padding: 1.5em 3em 0.5em 3em;
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		font-size: 1.1em;
		margin-bottom: 1em;
	}

	&__title {
		display: flex;
		line-height: 1.4em;
		color: hsl(224, 21%, 14%);
		margin-block-start: 10px;
	}

	&__badge {
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: center;
		height: 24px;
		width: 31px;
		background: hsl(219, 85%, 26%);
		color: hsl(0, 0%, 100%);
		border-radius: 0.3em;
		margin-left: 0.5em;
		font-size: 0.8em;
	}

	&__button {
		background-color: initial;
		border: none;
		font-size: 1.4em;
		color: hsl(219, 12%, 42%);
		transition: color ease-in-out 0.3s;
	}

	&__item-link:nth-of-type(2n) {
		color: red;
	}

	&__item {
		display: flex;
		border-radius: 0.4rem;
		margin-bottom: 1em;
		height: auto;
		transition: transform 0.1s ease-in;

		&:hover {
			transform: scale(1.01);
		}

		&-figure {
			margin: 1.5em 1.5em 0em 1.5em;
		}

		&-social-img {
			width: 40px;
			height: 40px;
		}

		&-content {
			display: flex;
			width: 100%;
			justify-content: space-between;
			margin: 1em 1em 0em 0em;
			font-size: 0.9rem;
			line-height: 1.2rem;
		}

		&-sender {
			color: hsl(224, 21%, 14%);
			transition: color ease-in-out 0.3s;
		}

		&-link {
			text-decoration: none;
			transition: color ease-in-out 0.3s;
		}

		&-status {
			width: 0.6em;
			height: 0.6em;
			background-color: hsl(1, 90%, 64%);
			display: inline-block;
			border-radius: 0.5em;
			margin-left: 0.4em;
			box-shadow: 0 0 0.3em hsl(1, 90%, 64%);
		}

		&-time {
			margin-top: 0em;
			font-size: 0.9em;
			color: hsl(219, 14%, 63%);
		}

		&-text {
			padding: 1em;
			border: 1px solid hsl(205, 33%, 90%);
			color: hsl(219, 12%, 42%);
			border-radius: 0.3rem;
			transition: background-color ease-in-out 0.3s;

			&:hover {
				cursor: pointer;
				background-color: hsl(211, 68%, 94%);
			}
		}

		&-img {
			width: 40px;
			height: 40px;
			margin-left: 1em;
			border: solid 0.1em transparent;
			border-radius: 9px;
			transition: background-color ease-in-out 0.3s;

			&:hover {
				cursor: pointer;
				border-color: hsl(210, 60%, 97%);
			}
		}
	}

	&__button:hover,
	&__item-sender:hover,
	&__item-link:hover {
		color: hsl(219, 85%, 26%);
		cursor: pointer;
	}
}
.item-highlight {
	background-color: hsl(210, 60%, 97%);
}

.text-bold {
	font-weight: 800;
}

.group {
	color: hsl(219, 85%, 26%);
}

.post {
	color: hsl(219, 12%, 42%);
}
