@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

$c-white: hsl(0, 0%, 100%);
$c-vlight-grayish-blue: hsl(210, 60%, 98%);
$c-light-grayish-blue1: hsl(211, 68%, 94%);
$c-light-grayish-blue2: hsl(205, 33%, 90%);
$c-grayish-blue: hsl(219, 14%, 63%);
$c-dark-grayish-blue: hsl(219, 12%, 42%);
$c-vdark-blue: hsl(224, 21%, 14%);
$c-dark-blue: hsl(219, 85%, 26%);
$c-gray: hsl(0,0%,76%);
$c-rose: hsl(1, 90%, 64%);

$ff-plus-jakarta: 'Plus Jakarta Sans', sans-serif;
