@use 'components/Card/_card.scss';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

.App {
	display: grid;
	place-items: center;
	height: 100vh;
	font-family: 'Plus Jakarta Sans', sans-serif;
	background-color: hsl(210deg, 60%, 98%);
}
